{% extends "admin/change_form.html" %}
{% load i18n %}
{% block submit_buttons_bottom %}
{{ block.super }}
<div id="submit-row" class="relative z-20 mt-20 lg:mt-8">
    <div class="bottom-0 fixed left-0 right-0 xl:left-72" :class="{'xl:left-0': !sidebarDesktopOpen}">
        <div class="bg-white dark:bg-gray-900 border-t px-4 py-4 relative scrollable-top lg:px-12 dark:border-gray-800">
            <div class="container flex flex-col-reverse gap-3 items-center mx-auto lg:flex-row-reverse">
                <button type="submit" name="_save"
                    class="bg-primary-600 block border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white w-full lg:w-auto">
                    Save
                </button>

                <button type="submit" name="_continue"
                    class="border font-medium hidden px-3 py-2 rounded-md text-sm text-gray-500 transition-all w-full hover:bg-gray-50 lg:block lg:w-auto dark:border-gray-700 dark:text-gray-400 dark:hover:text-gray-200 dark:hover:bg-gray-900">
                    Save and continue editing
                </button>

                <button type="submit" name="_addanother"
                    class="border font-medium hidden px-3 py-2 rounded-md text-sm text-gray-500 transition-all w-full hover:bg-gray-50 lg:block lg:w-auto dark:border-gray-700 dark:text-gray-400 dark:hover:text-gray-200 dark:hover:bg-gray-900">
                    Save and add another
                </button>
                <button type="submit" name="_publish"
                    class="bg-success-50 block border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white w-full lg:w-auto">
                    Publish
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}